/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */

#sidebar .sidebar-inner {
    margin-top: 0;
}

/* data tables style */

.responsive-datatables thead th a {
    pointer-events: none;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

.server-datatables thead th a {
    pointer-events: none;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

/*move data table sort arrows to after from before*/
.sorting:before {
    content: "";
    margin-right: 0;
}

.sorting_asc:before {
    content: "";
    margin-right: 0;
}

.sorting_desc:before {
    content: "";
    margin-right: 0;
}

.sorting:after,
.sorting_asc:after,
.sorting_desc:after {
    font-family: 'fontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sorting:after {
    content: "\f0dc";
    margin-left: 4px;
}

.sorting_asc:after {
    content: "\f0de";
    margin-left: 4px;
}

.sorting_desc:after {
    content: "\f0dd";
    margin-left: 4px;
}

/*end move*/

.dataTables_processing {
    background-color: transparent !important;
    margin-bottom: 0 !important;
    clear: both;
}

.no-sort:after {
    content: '';
    margin-right: 0;
}

/*end data tables*/

.nav-pills > li > a {
    border: 1px solid #C4C4C4;
}

/* classes for error messages */
pre.cake-error {
    position: absolute;
    z-index: 1111;
}

.form-group {
    position: relative;
}

div.error-message {
    color: red;
    /*
    position: absolute;
    bottom: -15px;
    z-index: 9;
    */
}

div.error-message ul {
    padding-left: 18px;
}

.system_settings_panel .checkbox-custom {
    line-height: 32px;
}

/* classes for opacity */
.opacity02 {
    opacity: .2 !important
}

.opacity04 {
    opacity: .4 !important
}

.opacity08 {
    opacity: .8 !important
}

fieldset{
    margin-top: 15px;
}